{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1>{{ if strings.HasSuffix .Title "?" }}{{ strings.TrimSuffix "?" .Title }}<span class="dot">?</span>{{ else }}{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}{{ end }}</h1>
      {{ if .Params.subtitle }}
      <h2 class="subtitle">{{ .Params.subtitle }}</h2>
      {{ end }}
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" />
      {{ end }}
      {{ if .Params.caption }}
      <caption>{{ .Params.caption }}</caption>
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
    {{ partial "tags.html" .}}
  </div>
{{ end }}
